@model CDLRouteHelper.Models.NearbyViewModel
<h2>Search Nearby</h2>

@* Google maps start *@
<style type="text/css">
    #map-canvas2 {
        height: 500px; /*not %*/
    }
</style>

<div id="slider"></div>
<div id="miles">  <h4> Miles 50  </h4> </div>
<div id="map-canvas2"></div>

@section scripts
{
    <script type="text/javascript">

        var currentLocIcon = '/Images/truck.png';
        var latitude = 43.121046;
        var longitude = -78.940802;

        var markersArray = [];

        var initialLocation;

        function clearOverlays() {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray = [];
        }

        var unitedstates = new google.maps.LatLng(43.121046, -78.940802);
        var browserSupportFlag = new Boolean();

        var mapOptions = {
            center: unitedstates,
            zoom: 11,    //zoom 4
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map-canvas2"),
              mapOptions);

        function initialize2() {

            //W3C Geolocation from https://developers.google.com/maps/documentation/javascript/tutorial

            // Try W3C Geolocation (Preferred)
            if (navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(initialLocation);

                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(latitude, longitude),
                        title: "Current Location",
                        icon: currentLocIcon
                    });

                    markersArray.push(marker);

                    //getMarkers();

                    $.ajax({
                        url: "/Restricted/GetList", type: "POST",
                        data: { latitude: position.coords.latitude, longitude: position.coords.longitude, distance: 50 },

                        success: function (data) {
                            //$("#temp").html("Success!!!!!")
                            //alert(data['foo'] + data['bar']);

                            for (var i in data) {

                                var s = 'Location = ' + data[i]['Location'] + '\nCity = ' + data[i]['City'] + '\nHeight = ' + data[i]['heightRestriction'] + '\nWeight Straight = ' + data[i]['weightStraightTruck'] + '\nWeight Single = ' + data[i]['weightSingleTrailer'] + '\nWeight Double = ' + data[i]['weightDoubleTrailer'] + '\nLatitude = ' + data[i]['Latitude'] + '\nLongitude = ' + data[i]['Longitude'];
                                //alert(data[i]['Latitude'] + ',' + data[i]['Longitude'])
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(data[i]['Latitude'], data[i]['Longitude']),
                                    title: s
                                });

                                markersArray.push(marker);
                            }

                            for (var i = 0; i < markersArray.length; i++) {
                                markersArray[i].setMap(map);
                            }
                        }
                    });


                }, function () {
                    handleNoGeolocation(browserSupportFlag);
                });
            }
                // Browser doesn't support Geolocation
            else {
                browserSupportFlag = false;
                handleNoGeolocation(browserSupportFlag);
            }

            function handleNoGeolocation(errorFlag) {
                if (errorFlag == true) {
                    alert("Geolocation service failed.");
                    initialLocation = unitedstates;
                } else {
                    alert("Your browser doesn't support geolocation.");
                    initialLocation = unitedstates;
                }
                map.setCenter(initialLocation);
            }
        }

        $(function () {
            $("#slider").slider({
                value: 50,
                min: 0,
                max: 1000,
                step: 10,
                slide: function (event, ui) {
                    $("#miles").text('Miles ' + ui.value);
                   // ajax call to update markers
                    var distance = ui.value;
                    //$("#slider").slider("value")  USE ui.value NOT this
                    $.ajax({
                        url: '@Url.Action("GetList","Restricted")', type: "POST",                
                        data: { latitude: latitude, longitude: longitude, distance: distance },

                        success: function (data) {
                            //$("#temp").html("Success!!!!!")
                            //alert(data['foo'] + data['bar']);

                            clearOverlays();

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(latitude, longitude),
                                title: "Current Location",
                                icon: currentLocIcon
                            });
                            markersArray.push(marker);

                            for (var i in data) {

                                var s = 'Location = ' + data[i]['Location'] + '\nCity = ' + data[i]['City'] + '\nHeight = ' + data[i]['heightRestriction'] + '\nWeight Straight = ' + data[i]['weightStraightTruck'] + '\nWeight Single = ' + data[i]['weightSingleTrailer'] + '\nWeight Double = ' + data[i]['weightDoubleTrailer'] + '\nLatitude = ' + data[i]['Latitude'] + '\nLongitude = ' + data[i]['Longitude'];
                                //alert(data[i]['Latitude'] + ',' + data[i]['Longitude'])
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(data[i]['Latitude'], data[i]['Longitude']),
                                    title: s
                                });

                                markersArray.push(marker);
                            }

                            for (var i = 0; i < markersArray.length; i++) {
                                markersArray[i].setMap(map);

                            }
                        }
                    });
                }
            });
            //initial
            $("#miles").text("Miles " + $("#slider").slider("value"));
        });

          @* Google maps stop  *@
     
        google.maps.event.addDomListener(window, 'load', initialize2);

        //function getMarkers() {
        //    $.ajax({
        //        url: "/Restricted/GetList", type: "POST",
        //        data: { latitude: position.coords.latitude, longitude: position.coords.longitude, distance: 50 },

        //        success: function (data) {
        //            //$("#temp").html("Success!!!!!")
        //            //alert(data['foo'] + data['bar']);

        //            for (var i in data) {
        //                //alert(data[i]['Latitude'] + ',' + data[i]['Longitude'])
        //                var marker = new google.maps.Marker({
        //                    position: new google.maps.LatLng(data[i]['Latitude'], data[i]['Longitude']),
        //                    title: "Hello World!"
        //                });

        //                markersArray.push(marker);
        //            }

        //            for (var i = 0; i < markersArray.length; i++) {
        //                markersArray[i].setMap(map);
        //            }
        //        }
        //    });
        //}

    </script>
}



